
<div>

<fieldset>
<!-- {{action doSomething target="controllers.child"}} -->
	<legend>Section Program to apply for</legend>
	
</fieldset>
<button id="btnStartGnc" {{action  'testing'}}>Apply for Grant or Contribution</button>
	
</div>
