
<div>

<fieldset>
	<legend>Section Program to apply for</legend>
	<select>
		<option></option>]
		<option>Victims Fund</option>
		<option>Youth Justice Fund</option>
		<option>Aboriginal Justice Strategy</option>
	</select>		
</fieldset>
<button id="btnStartGnc">Apply for Grant or Contribution</button>
	
</div>
